.form-control {
    position: relative;
    margin: 0 auto;
    width: 484px;
    padding-left: 15px;
    padding-top: 6px;
    box-shadow: 2px 2px #ebebeb;
    border-radius: 100px;
}

.button {
    color: #777;
}

.button1 {
    color: #777;
}

.button:hover {
    color: #777;
    border: 1px solid #777;
}

.button1:hover {
    color: #777;
    border: 1px solid #777;
}

@media only screen and (max-width: 770px) {
    .container-fluid {
        padding-left: 25px !important;
    }
    .button {
        padding-top: 2px;
        padding-left: 0px;
    }
    .button:hover {
        padding: 2px 10px;
    }
}