.form-control {
    position: relative;
    margin: 0 auto;
    width: 600px;
    padding-left: 15px;
    padding-top: 6px;
}

.button {
    color: white;
    background: red;
    width: 100px;
}

.button:hover {
    background: yellow;
}

@media only screen and (max-width: 770px) {
    .container-fluid {
        padding-left: 25px !important;
    }
    .button {
        padding: 4px 10px;
    }
    .button:hover {
        padding: 4px 10px;
    }
}